<div class="posts list-group"></div>
  {{#each posts}}
    <article class="card w-50 h-40 mt-10">

    <div class="card-header flex-row justify-space-between">
       <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
 <h2>{{title}}</h2>
       </a>
 <span>{{formatDate createdAt}}</span>
    </div>

    <div class="card-body">
      {{body}}
    </div>
    
  </article>
  {{/each}}
</div>